{% extends "app/index.html" %}

{% block navigationBar %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #062491;">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img class="img-fluid" width="100" src="{% static 'app/images/oppen.png' %}" alt=""/> Deployment Control
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">My Profile
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> {{ request.session.name_to_show }} </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block sidebar %}
{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'OppenDC' %}"><img src="{% static 'app/icons/home-3x.png' %}" class="img-fluid img-thumbnail" alt="Dashboard"  %>
                Sources
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <a class="nav-link active" href="{% url 'Deploy' %}"><img src="{% static 'app/icons/share-3x.png' %}" class="img-fluid img-thumbnail" alt="Deploys"  %>
                Deploys
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <a class="nav-link active" href="#"><img src="{% static 'app/icons/target-3x.png' %}" class="img-fluid img-thumbnail" alt="Targets"  %>
                Targets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <a class="nav-link active" href="#"><img src="{% static 'app/icons/clock-3x.png' %}" class="img-fluid img-thumbnail" alt="History"  %>
                History
              </a>
            </li>
            

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>New Data</span>
            <a class="d-flex align-items-center text-muted" href="/admin">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <a class="nav-link active" href="#"><img src="{% static 'app/icons/cog-3x.png' %}" class="img-fluid img-thumbnail" alt="Settings"  %>
                Settings
              </a>
            </li>
          </ul>
        </div>
      </nav>
{% endblock %}

{% block content %}
        <div class="col">
            <h3 class="mt-1">Listado de Fuentes</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Version del Build</th>
                        <th scope="col">Último Control</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form action="{% url 'Deploy' %}" method="post">
                    {% csrf_token %}
                    {% for source in sources %}
                    <tr>
                        <th scope="row"> {{ source.id }} </th>
                        <td>{{ source.name }}</td>
                        <td>{{ source.build_version }}</td>
                        <td>{{ source.lastcontrol }}</td>
                        {% if source.status %}
                        <td> Correcto </td>
                        {% else %}
                        <td> Con Error </td>
                        {% endif %}
                        <td>
                            <button class="btn btn-secondary" type="submit" name="candidate" value= {{ source.id }} >
                                Candidato
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </form>
                    </tbody>
                </table>
            <form action="{% url 'OppenDC' %}" method="post">
                {% csrf_token %}
            <button class="btn btn-primary btn-block" type="submit" name="refresh_sources" value="True" >Actualizar</button>
            </form>
        </div>
{% endblock %}
