<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OppenDC</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>
  </head>

  <body>
    <!-- Navigation -->
    {% block navigationBar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
                <img class="img-fluid" width="100" src="{% static 'app/images/oppen.png' %}" alt=""> Deployment Control</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
    {% block sidebar %}
    {% endblock %}
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Oppen Deployment Control</h1>
          <p class="lead">Custom Deployment Platform for Oppen Software</p>
          <p>Technologies</p>
          <ul class="list-unstyled">
            <li>Python 3.6.4</li>
            <li>Django 2.0.2</li>
            <li>Bootstrap 4.0.0</li>
            <li>jQuery 3.3.0</li>
            <li>MySql Server 5.7</li>
          </ul>
          <a class="nav-link" href="{% url 'login' %}">Please log in</a>
          <p>If you don't have an account, contact with the admin</p>
        </div>
      </div>
    </div>
    {% endblock %}
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    {% block scripts %}
    <script src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
